In [78]:
import pandas

In [79]:
res = pandas.read_csv('14cs_6.csv')

In [80]:
# the columns in the csv
res.columns

Index(['USN', 'Name', '10AL61_internal', '10AL61_external', '10AL61_total',
       '10AL61pass', '10CS62_internal', '10CS62_external', '10CS62_total',
       '10CS62pass', '10CS63_internal', '10CS63_external', '10CS63_total',
       '10CS63pass', '10CS64_internal', '10CS64_external', '10CS64_total',
       '10CS64pass', '10CS65_internal', '10CS65_external', '10CS65_total',
       '10CS65pass', '10CS661_internal', '10CS661_external', '10CS661_total',
       '10CS661pass', '10CSL67_internal', '10CSL67_external', '10CSL67_total',
       '10CSL67pass', '10CSL68_internal', '10CSL68_external', '10CSL68_total',
       '10CSL68pass', 'Total', 'Passed'],
      dtype='object')

In [81]:
# having a look at the format of the file
res.head()

,USN,Name,10AL61_internal,10AL61_external,10AL61_total,10AL61pass,10CS62_internal,10CS62_external,10CS62_total,10CS62pass,...,10CSL67_internal,10CSL67_external,10CSL67_total,10CSL67pass,10CSL68_internal,10CSL68_external,10CSL68_total,10CSL68pass,Total,Passed
0,1ew14cs001,ABHISHEK K.M,23,50,73,T,22,44,66,T,...,23,41,64,T,23,36,59,T,554,True
1,1ew14cs002,ADITHIYA SURESH,23,65,88,T,20,51,71,T,...,21,42,63,T,21,38,59,T,577,True
2,1ew14cs006,AKSHATA M MUDAKAVI,23,46,69,T,20,62,82,T,...,22,35,57,T,23,48,71,T,590,True
3,1ew14cs007,AKSHITHA A.R,25,70,95,T,25,69,94,T,...,24,48,72,T,23,47,70,T,681,True
4,1ew14cs008,AKSHATHA KADABA,24,66,90,T,23,56,79,T,...,24,48,72,T,23,48,71,T,650,True

In [82]:
def convert(x):
    if x == 'T':
        return 1
    else:
        return 0

In [83]:
def printAnalysis(subjectCode):
    print('Subject Code : ' + subjectCode[:-4])
    passed = res[subjectCode].apply(convert)
    print('Number passed : ' + str(passed.sum()))
    numFail = 0
    for val in passed:
        if val == 0:
            numFail += 1
    
    print('Number Failed : ' + str(numFail))
    print('Pass Percentage : ' + str(passed.sum()/ len(passed)))

In [84]:
printAnalysis('10AL61pass')

Subject Code : 10AL61
Number passed : 119
Number Failed : 3
Pass Percentage : 0.9754098360655737

In [85]:
printAnalysis('10CS62pass')

Subject Code : 10CS62
Number passed : 121
Number Failed : 1
Pass Percentage : 0.9918032786885246

In [86]:
printAnalysis('10CS63pass')

Subject Code : 10CS63
Number passed : 116
Number Failed : 6
Pass Percentage : 0.9508196721311475

In [87]:
printAnalysis('10CS64pass')

Subject Code : 10CS64
Number passed : 113
Number Failed : 9
Pass Percentage : 0.9262295081967213

In [88]:
printAnalysis('10CS65pass')

Subject Code : 10CS65
Number passed : 113
Number Failed : 9
Pass Percentage : 0.9262295081967213

In [89]:
printAnalysis('10CS661pass')

Subject Code : 10CS661
Number passed : 121
Number Failed : 1
Pass Percentage : 0.9918032786885246

In [90]:
printAnalysis('10CSL67pass')

Subject Code : 10CSL67
Number passed : 122
Number Failed : 0
Pass Percentage : 1.0

In [91]:
printAnalysis('10CSL68pass')

Subject Code : 10CSL68
Number passed : 122
Number Failed : 0
Pass Percentage : 1.0

In [92]:
# Total pass percentage

print(res['Passed'].sum() / len(res['Passed']))

0.819672131148